.beerinfo {
  font-size: 1.1em;
  box-shadow: 0 0 5px #ddd;
  border: 1px solid #ddd;
  line-height: 160%;
  background: #fff;
  color: #0F4150;
  width: 90%;
  min-width: 320px;
  max-width: 620px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px 30px;
  border-radius: 10px;
  z-index: 20;
  font-family: 'Muli', sans-serif;
}

.beerinfo h1{
  text-align: center;
  font-size: 1.8em;
  margin-bottom: 0;
  font-family: 'Muli', sans-serif;
}

.beerinfo img {
  width: 40%;
  max-width: 130px;
  border-radius: 20px;
}

.beer.ng-enter.ng-enter-active,
.beer.ng-leave {
  opacity: 1;
  height: 80px;
  overflow: hidden;
}

.beer.ng-leave.ng-leave-active,
.beer.ng-enter {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 140%;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #0F4150;
    color: #FCF4DC;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
}

.btn .btn-left {
  float: left;
}

.btn .btn-gridht {
  float: gridht;
}

.btn:hover {
    background: #09576D;
}

.search label {
  display: none;
}

